{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--
TODO
TODO	Это страница редактирования аккаунта каждого пользователя.
TODO	Здесь так же важно сохранить наличие тегов логики Джанго.
TODO	Я отфарматировал всё по центру, чтобы особо не резало глаз,
TODO	но стили остаются за тобой
TODO
-->

<div class="content__inner">
	<div style="text-align:center">
		<img alt="avatar"
             src="{{ profile_image }}"
             style="border-radius:50%; height:363px; object-fit:cover; width:274px"/>
	</div>


  <form style="text-align:center" method="post" enctype="multipart/form-data" class="mt-1">
      {% csrf_token %}
      <h6>Фотография</h6>
    <input class="d-none" type="file" name="profile_image" id="id_profile_image" onchange="readURL(this)">
      <h6>Псевдоним</h6>
    <input type="text" name="username" id="id_input_username" class="form-control" placeholder="Username" required
					value="{{form.initial.username}}">
      <h6>Имя</h6>
    <input type="text" name="name" id="id_input_name" class="form-control" placeholder="Name" required
					value="{{form.initial.name}}">
      <h6>Фамилия</h6>
    <input type="text" name="surname" id="id_input_surname" class="form-control" placeholder="Surname"
					value="{{form.initial.surname}}">
      <h6>Несколько слов о себе</h6>
    <input type="text" name="bio" id="id_input_bio" class="form-control" placeholder="Bio"
					value="{{form.initial.bio}}">

    {% for field in form %}
      <p>
        {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
	{% endfor %}

    {% if form.non_field_errors %}
      <div style="color: red">
        <p>{{form.non_field_errors}}</p>
      </div>

    {% endif %}

    <div class="d-flex">
      <button class="btn btn-primary mt-1" type="submit">Обновить</button>
    </div>
  </form>
</div>
{% endblock %}